.textInput {
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: textfield;
    -webkit-rtl-ordering: logical;
    cursor: text;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 2px;
    border-width: 2px;
    border-style: inset;
    border-image: initial;
    width: 75%;
    border: 1px solid #dedfe2;
    padding: 10px;
    border-radius: 6px;
}

select {
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: menulist;
    box-sizing: border-box;
    align-items: center;
    white-space: pre;
    -webkit-rtl-ordering: logical;
    cursor: default;
    margin: 0em;
    font: 400 13.3333px Arial;
    border-radius: 0px;
    border-width: 1px;
    border-style: solid;
    border-image: initial;
    width: 50%;
    border: 1px solid #dedfe2;
    padding: 10px;
    border-radius: 6px;
    cursor: pointer
}

.colorPicker {
    cursor: pointer
}

.editAppsTable {
    text-align: left;
    border-collapse: collapse;
    width: 100%;
    border-radius: 10px;
    overflow: 'hidden';
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.editAppsContainer {
    align-content: 'center';
    margin: auto;
    margin-top: 25px;
    width: calc(1100px - (100vw - 100%));
    border-radius: 10px;
    margin-bottom: 25px;
    justify-content: 'center';
    overflow: 'hidden';
}

@media screen and (max-width: 1700px) {
    .editAppsContainer {
        width: calc(100vw - (100vw - 100%));
    }
}

.settingsContainer {
    overflow: hidden;
    justify-content: center;
    border-radius: 10px;
    margin-bottom: 25px;
    align-content: center;
    width: 800px;
    margin: auto;
    margin-top: 25px;
}

@media screen and (max-width: 800px) {
    .settingsContainer {
        width: 100vw;
    }
}

.addAppStyle {
    cursor: pointer;
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
    border-radius: 10px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.settingsTableHeader {
    padding-top: 10px;
    padding-bottom: 10px;
    height: 30px;
    display: flex;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.settingsItem {
    padding-top: 10px;
    padding-bottom: 10px;
    height: 50px;
    display: flex;
    flex-direction: row;
    height: 40px;
}

.settings_item_title_container {
    padding-left: 15px;
    overflow: wrap;
    flex: 1;
    justify-content: center;
    align-items: center;
    display: flex;
}

.settingsOptionTitle {
    flex: 1;
}

.settings_item_select {
   width: 75%;
}

.settings_item_input_container {
    padding-left: 15px;
    overflow: wrap;
    flex: 1;
    display: flex;
}

.settings_item_name_container {
    overflow: wrap;
    display: flex;
    flex: 3;
}

.settings_item_url_container {
    overflow: wrap;
    display: flex;
    flex: 3;
}

.settings_item_icon {
    width: 40px;
    height: 40px;
    align-self: center;
    margin-left: 10px;
}

.edit_apps_edit_button_container {
    flex: 1;
    align-items: center;
    justify-content: center;
    display: flex;
}

.edit_apps_delete_button_container {
    flex: 1;
    align-items: center;
    justify-content: center;
    display: flex;
}

.table_header_name {
    flex: 3;
    font-weight: bold;
    align-self: center;
    justify-self: center;
    text-align: center;
}

.table_header_url {
    align-self: center;
    justify-self: center;
    text-align: center;
    text-align: center;
    flex: 3;
    font-weight: bold;
}

.table_header_edit {
    align-self: center;
    justify-self: center;
    text-align: center;
    flex: 1;
    font-weight: bold;
}

.table_header_delete {
    align-self: center;
    justify-self: center;
    text-align: center;
    flex: 1;
    font-weight: bold;
}

.settings_item_name_input {
    flex: 1;
    margin-left: 10px;
    margin-right: 10px;
}

.edit_page_link {
    display: flex;
    flex: 1;
    align-self: center;
    text-align: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    color: white;
    height: 100%;
    text-decoration: none;
}

.edit_background_link {
    display: flex;
    align-self: center;
    text-align: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    color: white;
    height: 100%;
    text-decoration: none;
    width: 75%;
}

.settings_item_textinput {
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: textfield;
    -webkit-rtl-ordering: logical;
    cursor: text;
    font: 400 13.3333px Arial;
    padding: 1px 2px;
    border-width: 2px;
    border-style: inset;
    border-image: initial;
    border: 1px solid #dedfe2;
    padding: 10px;
    border-radius: 6px;
}