.textInput {
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: textfield;
    -webkit-rtl-ordering: logical;
    cursor: text;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 2px;
    border-width: 2px;
    border-style: inset;
    border-image: initial;
    width: 75%;
    border: 1px solid #dedfe2;
    padding: 10px;
    border-radius: 6px;
}

select {
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: menulist;
    box-sizing: border-box;
    align-items: center;
    white-space: pre;
    -webkit-rtl-ordering: logical;
    cursor: default;
    margin: 0em;
    font: 400 13.3333px Arial;
    border-radius: 0px;
    border-width: 1px;
    border-style: solid;
    border-image: initial;
    width: 50%;
    border: 1px solid #dedfe2;
    padding: 10px;
    border-radius: 6px;
    cursor: pointer
}

.colorPicker {
    cursor: pointer
}

.editAppsContainer {
    align-content: 'center';
    margin: auto;
    margin-top: 25px;
    width: calc(1700px - (100vw - 100%));
    border-radius: 10px;
    margin-bottom: 25px;
    background-color: white;
    justify-content: 'center';
    overflow: 'hidden';
}

@media screen and (max-width: 1700px) {
    .editAppsContainer {
        width: calc(100vw - (100vw - 100%));
    }
}

.settingsContainer {
    overflow: hidden;
    justify-content: center;
    border-radius: 10px;
    margin-bottom: 25px;
    background-color: white;
    align-content: center;
    width: 800px;
    margin: auto;
    margin-top: 25px;
}

@media screen and (max-width: 800px) {
    .settingsContainer {
        width: 100vw;
    }
}

.editAppItem {
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 60px;
}

.editAppItem:hover {
    background-color: #F2F3F6;
}